.NavBar {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(13, 144, 220);
  padding: 1.5rem;
}

.links {
  display: flex;
  justify-content: space-between;
  padding-right: 50rem;
  margin-top: 1rem;
  gap: 10px;
}

.link {
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.logo {
  width: 5%;
}
